<h1> Welcome to Cher's Closet circa 2016 </h1>

<form> 
<input type="sumbit" value="Choose an outfit!"> 
</form>

<form action="/" method="POST"> 
	
<h1> Choose a top </h1> 

<div id="tops">
    <input type="radio" name="tops" id="fancy" />
        <label for="fancy"><img src="large-16002426-FNT.jpg" alt="Silk Gray Tank Top" /></label>

    <input type="radio" name="tops" id="casual" />
        <label for="casual"><img src="Bliss-and-Mischief-Thermal-Henley-VTG-White.jpg" alt="White Thermal Henley Shirt" /></label>
</div>

<h1> Choose a bottom </h1>
<div id="bottoms">
    <input type="radio" name="bottoms" id="fancy" />
        <label for="fancy"><img src="8952827_fpx-1.jpg" alt="Camel Suede Mini Skirt" /></label>

    <input type="radio" name="bottoms" id="casual" />
        <label for="casual"><img src="1.jpg" alt="Lightwash Loose Cropped Jeans" /></label>
</div>

<h1> Choose some shoes </h1>
<div id="shoes">
    <input type="radio" name="shoes" id="fancy" />
        <label for="fancy"><img src="72158_black_multi_f.jpg" alt="Black and White Leather Stack Heels" /></label>
    <input type="radio" name="shoes" id"casual" />
    	<label for="casual"><img src="_8806425.jpg" alt="Brown Metallic Birkenstocks" /></label> 
    <input type="radio" name="shoes" id="casual" />
        <label for="casual"><img src="34764654_001_b.jpg" alt="Black Adidas Sneakers" /></label>
</div>

<h1> Choose a bag </h1> 
<div id="bags">
    <input type="radio" name="bags" id="fancy" />
        <label for="fancy"><img src="308364_A7M0G_1000_001_080_0031_Light-Soho-leather-disco-bag.jpg" alt="Black Leather Crossbody" /></label>

    <input type="radio" name="bags" id="casual" />
        <label for="casual"><img src="bagbrown.png" alt="Brown Leather Tote Bag" /></label>
</div>

<input type="submit">

</form> 
