<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<style>

h1 { font-family: 'Permanent Marker', cursive;
min-height: 120px;
  width: 90%;
  max-width: 700px;
  vertical-align: left;
  text-align: left;
  margin: 0 auto;
  text-decoration: none;
  padding-top: 80px;
} 


</style>








<form action="/closet" method="POST"> 
	
<h1> Choose a top </h1> 

<div id="tops">
    <input type="radio" name="tops" value="fancy" />
        <label for="fancy"><img src="large-16002426-FNT.jpg" alt="Silk Gray Tank Top" height="248" width="240" /></label>

    <input type="radio" name="tops" value="casual" />
        <label for="casual"><img src="Bliss-and-Mischief-Thermal-Henley-VTG-White.jpg" alt="White Thermal Henley Shirt" height="250" width="236" /></label>
</div>

<h1> Choose a bottom </h1>
<div id="bottoms">
    <input type="radio" name="bottoms" value="fancy" />
        <label for="fancy"><img src="8952827_fpx-1.jpg" alt="Camel Suede Mini Skirt" height="265" width="244" /></label>

    <input type="radio" name="bottoms" value="casual" />
        <label for="casual"><img src="1.jpg" alt="Lightwash Loose Cropped Jeans" height="285" width="224"/></label>
</div>

<h1> Choose some shoes </h1>
<div id="shoes">
    <input type="radio" name="shoes" value="fancy" />
        <label for="fancy"><img src="72158_black_multi_f.jpg" alt="Black and White Leather Stack Heels" height="230" width="260" /></label>
    <input type="radio" name="shoes" value="casual" />
    	<label for="casual"><img src="_8806425.jpg" alt="Brown Metallic Birkenstocks" height="250" width='260' /></label> 
    <input type="radio" name="shoes" value="casual" />
        <label for="casual"><img src="34764654_001_b.jpg" alt="Black Adidas Sneakers" height="245" width='260' /></label>
</div>

<h1> Choose a bag </h1> 
<div id="bags">
    <input type="radio" name="bags" value="fancy" />
        <label for="fancy"><img src="308364_A7M0G_1000_001_080_0031_Light-Soho-leather-disco-bag.jpg" alt="Black Leather Crossbody" height='244' width='260' /></label>

    <input type="radio" name="bags" value="casual" />
        <label for="casual"><img src="bagbrown.png" alt="Brown Leather Tote Bag" height='250' width='250' /></label>
</div>

<input type="submit">

</form> 
