

<link href='https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker' rel='stylesheet' type='text/css'>


<style> 
body {
  background: url(https://scstylecaster.files.wordpress.com/2015/07/hair-flip.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2 { font-family: 'Oswald', sans-serif;
  width: 90%;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  color:#00ffff;
  padding-bottom: 32px;}

</style> 



<form method= "POST" action= "/match"> 
<h2> You got a match! </h2>
</form>



