





<div class="content">
  <h1><a href="http://media.salon.com/2015/07/clueless.jpg" target="_blank"> Welcome to Cher's Closet circa 2016</a></h1>
  <p>Welcome to Cher's Closet in the 21st Century. Hopefully, we can make this a little more personal, a little more versatile, and a little more stylish, but for the moment, enjoy a little advice from the Queen of Fashion herself. XOXO, Lena and Zara </p>




</div>

<form method="GET" action="/closet"> 
    <button type="sumbit">Choose an outfit!</button> 
</form>

