<link href='https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker' rel='stylesheet' type='text/css'>


<style> 



body {
  background: url(http://media.salon.com/2015/07/clueless.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {font-family: 'Permanent Marker', cursive;
min-height: 120px;
  width: 90%;
  max-width: 700px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #ff00ff;
  padding-top: 80px;
}




p {font-family: 'Oswald', sans-serif;
  width: 90%;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  color:#00ffff;
  padding-bottom: 32px;
} 

.outfit {
  text-align: center;
}

</style>


<h1> Welcome to Cher's Closet Circa 2016 </h1>


  <p> Welcome to Cher's Closet in the 21st Century. Hopefully, we can make this a little more personal, a little more versatile, and a little more stylish, but for the moment, enjoy a little advice from the Queen of Fashion herself. XOXO, Lena and Zara </p>



<div class="outfit">
<form method="GET" action="/closet"> 
    <button type="sumbit">Choose an outfit!</button> 
</form>
</div>

